<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 pig4cloud Authors. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.monitor.mapper.BulletinMapper">

	<!-- 结果映射 - 公告实体 -->
	<resultMap id="BaseResultMap" type="com.pig4cloud.pig.common.core.entity.manager.Bulletin">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="monitor_ids" property="monitorIds" typeHandler="com.pig4cloud.pig.common.mybatis.handler.JsonLongListTypeHandler"/>
		<result column="app" property="app"/>
		<result column="fields" property="fields" typeHandler="com.pig4cloud.pig.common.mybatis.handler.JsonMapListTypeHandler"/>
		<result column="creator" property="creator"/>
		<result column="modifier" property="modifier"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="gmt_update" property="gmtUpdate"/>
	</resultMap>

	<!-- 基础查询字段列表 -->
	<sql id="Base_Column_List">
		id, name, monitor_ids, app, fields, creator, modifier, gmt_create, gmt_update
	</sql>

	<!-- 根据名称列表批量删除公告 -->
	<delete id="deleteByNameIn">
		DELETE FROM hzb_bulletin
		WHERE name IN
		<foreach collection="names" item="name" open="(" separator="," close=")">
			#{name}
		</foreach>
	</delete>

	<!-- 根据名称查询公告 -->
	<select id="findByName" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM hzb_bulletin
		WHERE name = #{name}
		LIMIT 1
	</select>

	<!-- 根据名称统计公告数量 -->
	<select id="countByName" resultType="int">
		SELECT COUNT(*)
		FROM hzb_bulletin
		WHERE name = #{name}
	</select>

</mapper>
