<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 pig4cloud Authors. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.monitor.mapper.MonitorBindMapper">

	<!-- 结果映射 - 监控绑定实体 -->
	<resultMap id="BaseResultMap" type="com.pig4cloud.pig.common.core.entity.manager.MonitorBind">
		<id column="id" property="id"/>
		<result column="key_str" property="keyStr"/>
		<result column="biz_id" property="bizId"/>
		<result column="monitor_id" property="monitorId"/>
		<result column="creator" property="creator"/>
		<result column="modifier" property="modifier"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="gmt_update" property="gmtUpdate"/>
	</resultMap>

	<!-- 基础查询字段列表 -->
	<sql id="Base_Column_List">
		id, key_str, biz_id, monitor_id, creator, modifier, gmt_create, gmt_update
	</sql>

	<!-- 根据业务ID查询绑定关系列表 -->
	<select id="findMonitorBindsByBizId" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM hzb_monitor_bind
		WHERE biz_id = #{bizId}
		ORDER BY gmt_create DESC
	</select>

	<!-- 根据业务ID集合批量查询绑定关系 -->
	<select id="findMonitorBindsByBizIdIn" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM hzb_monitor_bind
		WHERE biz_id IN
		<foreach collection="bizIds" item="bizId" open="(" separator="," close=")">
			#{bizId}
		</foreach>
		ORDER BY gmt_create DESC
	</select>

	<!-- 根据监控任务ID删除绑定关系 -->
	<delete id="deleteByMonitorId">
		DELETE FROM hzb_monitor_bind
		WHERE monitor_id = #{monitorId}
	</delete>

	<!-- 根据业务ID和监控任务ID删除绑定关系 -->
	<delete id="deleteMonitorBindByBizIdAndMonitorId">
		DELETE FROM hzb_monitor_bind
		WHERE biz_id = #{bizId}
		AND monitor_id = #{monitorId}
	</delete>

	<!-- 根据业务ID集合批量删除绑定关系 -->
	<delete id="deleteMonitorBindByBizIdIn">
		DELETE FROM hzb_monitor_bind
		WHERE biz_id IN
		<foreach collection="bizIds" item="bizId" open="(" separator="," close=")">
			#{bizId}
		</foreach>
	</delete>

</mapper>
