<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 pig4cloud Authors. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.monitor.mapper.PluginMetadataMapper">

	<!-- 结果映射 - 插件元数据实体 -->
	<resultMap id="BaseResultMap" type="com.pig4cloud.pig.common.core.entity.manager.PluginMetadata">
		<id column="id" property="id"/>
		<result column="name" property="name"/>
		<result column="enable_status" property="enableStatus"/>
		<result column="jar_file_path" property="jarFilePath"/>
		<result column="creator" property="creator"/>
		<result column="gmt_create" property="gmtCreate"/>
		<result column="param_count" property="paramCount"/>
	</resultMap>

	<!-- 基础查询字段列表 -->
	<sql id="Base_Column_List">
		id, name, enable_status, jar_file_path, creator, gmt_create, param_count
	</sql>

	<!-- 根据名称统计插件元数据数量 -->
	<select id="countPluginMetadataByName" resultType="int">
		SELECT COUNT(*)
		FROM hzb_plugin_metadata
		WHERE name = #{name}
	</select>

	<!-- 查询所有启用的插件 -->
	<select id="findPluginMetadataByEnableStatusTrue" resultMap="BaseResultMap">
		SELECT
		<include refid="Base_Column_List"/>
		FROM hzb_plugin_metadata
		WHERE enable_status = true
		ORDER BY gmt_create DESC
	</select>

</mapper>
