<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2020 pig4cloud Authors. All Rights Reserved.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pig4cloud.pig.monitor.mapper.DataFragmentConfigMapper">

	<!-- 结果映射 - 数据碎片配置实体 -->
	<resultMap id="BaseResultMap" type="com.pig4cloud.pig.common.core.entity.fragment.DataFragmentConfig">
		<id column="id" property="id"/>
		<result column="data_name" property="dataName"/>
		<result column="ip" property="ip"/>
		<result column="sql_port" property="sqlPort"/>
		<result column="data_base" property="dataBase"/>
		<result column="pass_word" property="passWord"/>
		<result column="user_name" property="userName"/>
		<result column="sql_type" property="sqlType"/>
		<result column="sql_info" property="sqlInfo"/>
		<result column="top_number" property="topNumber"/>
		<result column="create_time" property="createTime"/>
		<result column="update_time" property="updateTime"/>
	</resultMap>

	<!-- 基础查询字段列表 -->
	<sql id="Base_Column_List">
		id, data_name, ip, sql_port, data_base, pass_word, user_name, sql_type, sql_info, top_number, create_time, update_time
	</sql>

</mapper>
